
.glyphicon {
    margin-right: 5px;
}

.glyphicon-new-window {
    margin-left: 5px;
}

/*.panel-body .radio label, .panel-body .checkbox label {*/
/*display: block;*/
/*}*/

.panel .panel-heading, .panel-title, .panel-footer, thead, th {
    background-color: #394a59 !important;
    /*color: #d0d8df!important;*/
    color: whitesmoke !important;
}

.panel-title {
    font-size: 0.9em;
}

.btn-default {
    font-size: 1em;
}

#activity-info .panel-body {
    font-size: 0.9em;
}

.btn-default {
    padding: 3px 10px;
}

.btn-primary {
    background-color: #0080b3 !important;
}

.well {
    background-color: #e0e6eb;
}